<div class="todo-wrapper">
  <mat-card class="todo-card">
    <mat-form-field style="width: 100%;">
      <mat-label>Add todo</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let todo of todoList, let i = index">
        <mat-checkbox (change)="changeCompleteEvent(todo.id)" [ngClass]="{'completed': todo.completed}">
          {{ todo.task }}
        </mat-checkbox>
        <span class="spacer"></span>
        <button *ngIf="i !== 0" mat-icon-button><mat-icon (click)="moveUpClick(todo.id)">arrow_upward</mat-icon></button>
        <button *ngIf="i !== todoList.length -1" mat-icon-button><mat-icon (click)="moveDownClick(todo.id)">arrow_downward</mat-icon></button>
        <button mat-icon-button><mat-icon color="warn" (click)="deleteClick(todo.id)">delete</mat-icon></button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
