<div class="pomodoro-wrapper">
  <mat-card class="pomo-card">
    <mat-card-content>
      <circle-progress
        #testProgress
        [backgroundColor]=background 
        [titleColor]=titleColor
        [percent]=percent
        [radius]=radius
        [showInnerStroke]="false"
        [outerStrokeWidth]=outerStrokeWidth
        [outerStrokeColor]=outerStrokeColor
        [animation]=animation
        [showUnits]="false"
        [showTitle]="true"
        [showSubtitle]="false"
        [title]=title
        [animationDuration]=animationDuration>
      </circle-progress>
      <br>
      <button mat-raised-button color="primary" (click)="startPomodoro()" class="pomo-button" [disabled]="status !== 'stopped'"> Start </button>
      <button mat-raised-button color="accent" (click)="stopPomodoro()" class="pomo-button"> Stop </button>

      <pomodoro-settings [focusTime]="focusTime" [shortBreak]="shortBreak" [longBreak]="longBreak" (valueChange)="timerChange($event)"></pomodoro-settings>
    </mat-card-content>
  </mat-card>
</div>
