<div class="pomodoro-wrapper">
  <mat-card class="pomo-card">
    <mat-card-content>
      <circle-progress
        #testProgress
        [backgroundColor]=background 
        [titleColor]=titleColor
        [percent]=percent
        [radius]=radius
        [showInnerStroke]="false"
        [outerStrokeWidth]=outerStrokeWidth
        [outerStrokeColor]=outerStrokeColor
        [animation]=animation
        [showUnits]="false"
        [showTitle]="true"
        [showSubtitle]="false"
        [title]=title
        [animationDuration]=animationDuration>
      </circle-progress>
      <p style="text-align: center;">Pomodoros Completed: <span style="color: #c2185b;">{{ completedPomodoros }}</span></p>
      <button mat-raised-button color="primary" (click)="startPomodoro()" class="pomo-button" [disabled]="status !== 'stopped'"> Start </button>
      <button mat-raised-button color="warn" (click)="stopPomodoro()" class="pomo-button"> Stop </button>

      <mat-accordion>
        <mat-expansion-panel class="pomo-button">
          <mat-expansion-panel-header>
            <mat-panel-title> Settings </mat-panel-title>
          </mat-expansion-panel-header>
          <pomodoro-settings [focusTime]="focusTime" [shortBreak]="shortBreak" [longBreak]="longBreak" (valueChange)="timerChange($event)"></pomodoro-settings>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
