.pomodoro-wrapper {
}

.pomo-card {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 450px;
  /*background: #fff;*/
  display: flex;
  align-content: center;
}

.pomo-button {
  width: 100%;
  margin: 5px 0;
}

.pomo-timers {
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}

.pomo-timer-input {
  width: 100%;
}
