<div class="pomodoro-wrapper">
  <mat-card class="pomo-card">
    <mat-card-content>
      <circle-progress
        #testProgress
        [backgroundColor]=background 
        [titleColor]=titleColor
        [percent]=percent
        [radius]=radius
        [showInnerStroke]="false"
        [outerStrokeWidth]=outerStrokeWidth
        [outerStrokeColor]=outerStrokeColor
        [animation]=animation
        [showUnits]="false"
        [showTitle]="true"
        [showSubtitle]="false"
        [title]=title
        [animationDuration]=animationDuration>
      </circle-progress>
      <br>
      <button mat-raised-button color="primary" (click)="startPomodoro()" class="pomo-button" [disabled]="status !== 'stopped'"> Start </button>
      <button mat-raised-button color="accent" (click)="stopPomodoro()" class="pomo-button"> Stop </button>

      <div class="pomo-timers">
        <mat-form-field class="pomo-timer-input">
          <mat-label>Focus Time</mat-label>
          <input matInput [(ngModel)]="focusTime" type="number">
        </mat-form-field>
        <mat-form-field class="pomo-timer-input">
          <mat-label>Short Break</mat-label>
          <input matInput [(ngModel)]="shortBreak" type="number">
        </mat-form-field>
        <mat-form-field class="pomo-timer-input">
          <mat-label>Long Break</mat-label>
          <input matInput [(ngModel)]="longBreak" type="number">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
