.pomodoro-wrapper {
}

.pomo-card {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 350px;
  /*background: #fff;*/
  display: flex;
  align-content: center;
}

.pomo-button {
  width: 100%;
  margin: 5px 0;
}

